

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:wheat;
    margin: 0;
}

.heading{
    text-align: center;    
    background-color: #3498db;
    box-shadow: 5px 5px 10px hsl(0, 2%, 53%);
    padding: 2%;
    animation: slide 1s ;
}
@keyframes slide {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0px);
    }
    
}
.para{
    animation: size 2s;
}
@keyframes size {
    from{
        font-size: 0;
    }
    to {
        font-size: default;
    }
    
}

.body{
    /*text-align: left;*/
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 10%;
    padding: 2%;
    box-shadow: 5px 5px 10px hsl(0, 2%, 53%);
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    font-size: x-large;
    background-color: wheat;
    transition: all 0.5s;
    border:8px solid darkred;
    border-radius: 25px;
    
}
.body:hover
{
    transform: translateY(-10px);
    background-color: darkred;
    color:wheat;
}
.btn{
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5em 1em;
    color: darkred;
    background-color:wheat;
    border: 8px solid darkred;
    border-radius: 25px;

    transition : all 0.3s;
}
.btn:hover {
    transform: translateY(-10px);
    background-color: darkred;
    color:wheat;
}

button {    
    display: block;
    margin: 0 auto;
}