body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:wheat;
    margin: 0;
}

.heading{
        background-color: #3498db;
        box-shadow: 5px 5px 10px hsl(0, 2%, 53%);
    padding: 2%;
    
}

.centre{
    margin-left: auto;
    margin-right: auto;
    
}
.result
{
    background-color: darkred;
    color: wheat;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

#Content
{
    margin-top: 1%;
}

.btn{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.3em 0.7em;
    color: darkred;
    background-color:wheat;
    border: 4px solid darkred;
    border-radius: 25px;

    transition : all 0.3s;
}
.btn:hover {
    transform: translateY(-10px);
    background-color: darkred;
    color:wheat;
}

button {    
    display: block;
    margin: 0 auto;
}

label:hover, label:active, input:hover+label, input:active+label {
    background:rgb(161, 1, 1);
    color: wheat;
    border-radius: 5px;
    transition: 0.5s;
}

